* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

body {
    overflow-x: hidden;
    background-color: #ffff;
    overflow-y: visible;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
::selection
{
    color: white;
    background-color: #3DC3AC;
}
.headbody {
    background-color: #ffff;
    height: 120px;
    width: 1300px;
    box-shadow: 0 3px 10px #999999;
    position: relative;
    top: 30px;
    left: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

} 
.fixedbg
{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 160px;
    z-index: 1;
    position: fixed;
    padding: 15px 45px;

}
.myprogress
{
    width: 100%;
    background-color: #e4e4e4;
}
.mybar
{
    width: 33%;
    height: 8px;
    background-color: #3DC3AC;
    animation-name: load2;
    animation-duration: 3s;
}
@keyframes load2 {
  from {background-color: #3DC3AC; width:0%}
  to {background-color: #3DC3AC; width:33%}
}

.bartitle
{
    display: flex;    
    position: relative;
    top: -20px;
    left: -20px;
}
.bartitle p
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 8px;
}
.barone
{
    height: 30px;
    width: 30px;
    background-color: #3DC3AC;
    border-radius: 50%;
    margin-right: 31%;

}
.bartwo
{
    height: 30px;
    width: 30px;
    background-color: #3DC3AC;
    border-radius: 50%;
    margin-right: 31%;
}
.barthree
{
    height: 30px;
    width: 30px;
    background-color: #e4e4e4;
    border-radius: 50%;
    margin-right: 31%;
}
.barfour
{
    height: 30px;
    width: 30px;
    background-color: #e4e4e4;
    border-radius: 50%;
    margin-left: 1%;
}
.selectfrom {
    padding: 5px 20px;
    margin-top: 15px;
}
.selectfrom img{
    width: 30px;
}


.selectfrom p {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    margin-left: 40px;
   padding-top: 15px;
  
}

.selectfrom .fromloc {
    margin-top: -55px;
}
.selectfrom #passfromlocation
{
    border: none;
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    padding-top: 15px;
    outline: none;


}
/*--------------------------------------------------------------------------------------------------------------------------------*/

.selectto {
    padding: 5px 5px;
    margin-top: 15px;
    position: relative;
    left: -60px;

}
.selectto img{
    width: 30px;

}

.selectto p {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    margin-left: 40px;
   padding-top: 15px;
   letter-spacing: 1px;
  
}

.selectto .toloc {
    margin-top: -55px;
}
.selectto #passtolocation
{
    border: none;
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    padding-top: 15px;
    outline: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/

.selectdate {
    margin-top: 20px;
    position: relative;
    left: -50px;
}
.selectdate img{
    width: 30px;
    position: relative;
    left: -50px;
}

.pdateone {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: -35px;
    left: -10px;
}

#passdateone {
   
    color: #707070c9;
    font-size: 23px;
    position: relative;
    top: -20px;
    left: -30px;
    border: none;
    outline: none;
   
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
.selectreturn
{
    margin-top: 20px;
    position: relative;
    left: -35px;
}
.selectreturn img{
    width: 30px;
    position: relative;
    left: -70px;
}
#titlereturn
{
    color: #707070c9;
    font-size: 26px;
    position: relative;
    top: -30px;
    left: -30px;
}
#returndate {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 500;
    text-decoration: dashed;
    background-color: white;
    border: none;
    position: relative;
    top: -15px;
    left: -65px;
    outline: none;
}
#hidetitle
{
    visibility:hidden;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
.editebut {
    margin-top: 30px;
}
#pushedite {
    border: none;
    color: #fff;
    background-color: #ffd06c;
    padding: 10px 20px ;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-style: normal;
    letter-spacing: 1px;
    width: 210px;
    position: relative;
    left: -70px;
    cursor:not-allowed;
}

.ticketscontainer
{
    height: 115px;
    width: 790px;
    position: absolute;
    left: -20px;
    top: 120px;
}

.postinfo {
    background-color: #ffff;
    height: 450px;
    width: 280px;
    padding: 20px;
    box-shadow: 0 3px 10px #999999;
    position: absolute;
    top: 180px;
    right: 25px;

}
.postinfo p
{
    width: 55%;
    outline: none;
    color: #707070c9;
    border: none;
    font-size: 16px;
    display: inline-block;
}
.posttitle
{
    justify-content: center;
    text-align: center;
}
.posttitle img {
   width: 60px;
   

}

.postinfo h6 {
    color: #3DC3AC;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;

}
/*------------------------------------------------------------------------------------------------------------------------------------------*/

.user.data1 {
    margin-top: 20px;

}
.user.data1 .from {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;

}

.user.data1 .cairo {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.user.data2 {
    margin-top: 10px;
}
.user.data2 .to {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;

}

.user.data2 .alexandria {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 500;
    margin-left: 65px;

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.user.data3 {
    margin-top: 10px;
}
.user.data3 .date {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;

}

.user.data3 .nov4 {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.user.data4 {
    margin-top: 10px;
}
.user.data4 .return {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;

}

.user.data4 .nov6 {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
.postinfo hr {
    color: #707070;
   margin: auto;
   position: relative;
   top: 10px;
}

.postinfo .headtotal {
    color: #707070c9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 20px;

}

.postinfo, .filtersection, .headbody
{
    position: fixed;
    z-index: 1;
}
.seatscontainer {
    background-color: #ffff;
    height: 400px;
    width: 960px;
    box-shadow: 0 3px 10px #999999;
    margin-top: 60px;
    margin-left: 50px;
    padding:  35px 30px 30px 70px;
} 
.row1,.row2,.row3,.row4
{
    display: flex;
}
.showcase
{
  display: flex;
  width: 500px;
  margin-left: 260px;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 10px;
    font-size: 15px;
  }

/* The container */
.containerseat {
    display: block;
    position: relative;
    padding-left: 40px;
    margin:11px;
    margin-bottom:50px;
    cursor: pointer;
    
  }
  
  /* Hide the browser's default checkbox */
  .containerseat input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    content: url('https://img.icons8.com/ios/55/3DC3AC/car-seat.png');
  }
  
  /* On mouse-over, change img */
  .containerseat:hover input ~ .checkmark {
      content: url('https://img.icons8.com/ios-filled/55/3DC3AC/car-seat.png');
      transform: scale(1.2);
  
  }
  
  /* When the checkbox is checked, change img */
  .containerseat input:checked ~ .checkmark {
      content: url('https://img.icons8.com/ios-filled/55/3DC3AC/car-seat.png');
  
  }

  /* When the checkbox is disbled, change img */
  .containerseat input:disabled ~ .checkmark {
    content: url('https://img.icons8.com/ios-filled/55/CCCCCC/car-seat.png');
    cursor: not-allowed;
    transform: scale(1);

}
  
#desdriv
{
    width: 50px;
    height: 50px;
    margin-left: 13px;
    margin-top: 13px;
}

#desdoor
{
    margin-left: 13px;
    margin-top: 19px;
    width: 50px;
    height: 50px;
}

.icon23 {
    margin-left: 40px;
    padding: 20px 10px;
}

.icon24 {
    margin-left: 40px;
    padding: 10px 10px;
}

.icon25 {
    margin-left: 40px;
    padding: 100px 10px;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/


  .text9 {
    position: relative;
    top: 700px;
    width: 850px;
    margin-left: 50px;
} 
.menu p {

    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
   
}

/*-----------------------------------------------------------------------------------------------------------------*/

.coffe {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 150px;

}

.coffe .btn7 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;
}
.coffe .btn7 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.coffe .btn7 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn7 {
    margin-left: 250px;
    margin-top: -110px;
}

.coffe .btn7 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 40px;

}

/*-----------------------------------------------------------------------------------------------------------------*/

.tea {
    
    padding-bottom: 70px;
    padding-left: 150px;

}

.tea .btn8 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;

}
.tea .btn8 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.tea .btn8 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn8 {
    margin-left: 250px;
    margin-top: -110px;
}

.tea .btn8 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 40px;

}

/*-----------------------------------------------------------------------------------------------------------------*/

.water {
    
    padding-bottom: 50px;
    padding-left: 150px;

}

.water .btn9 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;

}
.water .btn9 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.water .btn9 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn9 {
    margin-left: 250px;
    margin-top: -110px;
}

.water .btn9 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 40px;

}

/*-----------------------------------------------------------------------------------------------------------------*/

.juice {
    
    padding-bottom: 50px;
    padding-left: 150px;

}

.juice .btn10 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;

}
.juice .btn10 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.juice .btn10 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn10 {
    margin-left: 250px;
    margin-top: -110px;
}

.juice .btn10 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 50px;

}

/*-----------------------------------------------------------------------------------------------------------------*/
.toast {

    padding-bottom: 50px;
    padding-left: 150px;
    
}

.toast .btn11 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;

}
.toast .btn11 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.toast .btn11 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn11 {
    margin-left: 250px;
    margin-top: -110px;
}

.toast .btn11 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 50px;

}

/*-----------------------------------------------------------------------------------------------------------------*/

.Crusoe {

    padding-bottom: 50px;
    padding-left: 150px;
    
}

.Crusoe .btn12 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;

}
.Crusoe .btn12 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.Crusoe .btn12 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn12 {
    margin-left: 250px;
    margin-top: -120px;
}

.Crusoe .btn12 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 50px;

}

/*-----------------------------------------------------------------------------------------------------------------*/

.sandwich {

    padding-bottom: 50px;
    padding-left: 150px;
    margin-left: -25px;
    
}



.sandwich .btn13 button {
    border-style: solid;
    border-color: #E4E4E4;
    color: #707070;
    background-color: #ffff;
    padding: 2px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    margin-left: -5px;
    cursor: pointer;

}
.sandwich .btn13 button:active
{
    background-color: #E4E4E4;
    color: #ffff;
}
.sandwich .btn13 input
{
    width: 80px;
    height: 43px;
    font-size: 30px;
    padding: 0px 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: default;
    outline: none;
    border:none;
    color: #707070;
}
.btn13 {
    margin-left: 280px;
    margin-top: -130px;
}

.sandwich .btn13 span {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 50px;

}
.btn6 {
    top: 20px;
    position: relative;
}
.btn6 button {
    width: 240px;
    border: none;
    color: #fff;
    background-color: #FBBB0D;
    padding: 10px 10px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
   
}