* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
::selection
{
    color: white;
    background-color: #3DC3AC;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

.nav {
    justify-content: center;
    text-align: center;
    height: 80px;
    position: relative;
    
}

#logo
{
    position: absolute;
    left:-50px;
    top:8px;
    width:150px;
}

.icon
{
    color:  #FBBB0D;
    font-size:35px;
    position: relative;
    top: -60px;
    right: -450px;
    margin: 10px;
} 

.nav .nav-img img {
    width: 100%;
    
}

.nav-links li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
}

.nav-links li a {
    margin-top: 5px;
    text-decoration: none;
    color: #3DC3AC;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    transition: 0.5s ease;
}

.line
{
    width: 0%;
    height:3px;
    background-color: #FBBB0D;
    transition: 0.5s ease;
}
.active .line
{
    width:50%;
    height:3px;
    background-color: #FBBB0D;
}
li a:hover :not(.active) 
{
    width:50%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.imgs2
{
    background-color: #f5f5f5;
}
.imgs2 a
{
    text-decoration: none;
    color: none;
}

.part8{
    display: flex;
    margin: 15px 15px;
    justify-content: center;
  
}

.img1 {
  
    background-image:  url('jpg.44.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;

}

.img1 svg {
    position: relative;
    left: 120px;
    top: 30px;
}

.img1 h3 {
   position: relative;
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    font-weight: 500;
    top: 20px;
    left: 45px;
    
}

.img1 button {
   position: relative;
    border: none;
    color: #fff;
    background-color: #FBBB0D;
    padding: 10px 20px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    top: 40px;
    left: 70px;
   
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.img2  {
    background-image:  url('jpg.34.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head6 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head6 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img2:hover .head6 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img2:hover .head6 h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.img3 {
    background-image:  url('jpg.31.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head7 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head7 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img3:hover .head7 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img3:hover .head7 h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.part9{
    display: flex;
    margin: 15px 15px;
    justify-content: center;
}

.img4 {
    background-image:  url('jpg.28.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head8 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head8 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img4:hover .head8 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img4:hover .head8 h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.img5 {
    background-image:  url('jpg.29.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head9 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head9 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img5:hover .head9 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img5:hover .head9 h2 {
    opacity: 1;

}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.img6 {
    background-image:  url('jpg.27.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.headalex h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.headalex h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img6:hover .headalex {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img6:hover .headalex h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.part10{
    display: flex;
    margin: 15px 15px;
    justify-content: center;
}
.img7 {
    background-image:  url('jpg.30.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head11 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head11 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img7:hover .head11 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img7:hover .head11 h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.img8 {
    background-image:  url('jpg.32.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head12 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head12 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img8:hover .head12 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img8:hover .head12 h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.img9 {
    background-image:  url('jpg.25.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-right: 15px;
   
   
}
.head13 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head13 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img9:hover .head13 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img9:hover .head13 h2 {
    opacity: 1;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.part11
{
        display: flex;
        margin: 15px 15px;
    
}
.img10 {
    background-image:  url('jpg.33.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 325px;
    height: 225px;
    margin-left: 150px;
   
}

.head14 h2 {
    position: relative;
    text-align: center;
    top: 100px;
    opacity: 0;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
   

}

.head14 h1 { 
    position: relative;
    left: 20px;
    top: 135px;
    color: #ffff;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

}

.img10:hover .head14 {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
} 

.img10:hover .head14 h2 {
    opacity: 1;

}

/*---------POPUP IMAGE TRIP----------------------------------------------------------------------------------------------------------------------------------------------------*/

#popupaswan, #popupdhab, #popupsharm{
    position: absolute;
    top: 0px;
    background-color: #fff;
    display: none;
}
.icon17 {
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.merge{
    display: flex;
   
}
.head100 h1 {
    color: #FBBB0D;
    font-style: italic;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 100px;

}

.head100 h6 {
    color: #70707077;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 100;
    margin-left: 100px ;
    
}

.head100 p {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 35px;
    margin-left: 100px ;
    margin-top: 30px;
   width: 80%;

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.text {
    background-color: #ffff;
    height: 170px;
    width: 1000px;
    box-shadow: 0 3px 10px #999999;
    margin-top: 15px;
    margin-left: 250px;
    display: flex;
    
} 


.paragraph4 {
   
    padding: 5px 15px;

}
.paragraph4 p {
    color: #707070a9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 35px;
    font-weight: 500;
    margin: 10px 10px;
}

.icon18 {
    margin: 10px 50px;
    
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/

.paragraph5 {

    padding: 5px 15px;

}
.paragraph5 p {
    color: #707070a9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 35px;
    font-weight: 500;
    margin: 10px 10px;
}
  

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.paragraph6 {
 
    padding: 5px 15px;

}
.paragraph6 p {
    color: #707070a9;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 35px;
    font-weight: 500;
    margin: 15px 15px;
}
 

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.paragraph7 {

    padding-top: 15px;
    padding-left: 60px;

}
.paragraph7 p {
    color: #707070;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 35px;
    font-weight: 500;
   
   
}

.paragraph7 button {
    border: none;
    color: #fff;
    background-color: #FBBB0D;
    padding: 10px 35px ;
    font-style: 'regular';
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT';
    font-size: 25px;
    letter-spacing: 2px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.border {
    margin-left: 80px ;
    margin-top:  7px ;
    border:10px solid #B7D1FF;
    height: 150px;
    width: 15px;
    
}
.aswan, .sharm, .dhab
{
    margin-right: 15px;
}